body {
	font-family: 'Raleway', sans-serif;
	text-align: center;
	margin: 0;
}


.nav{
	background-color: white;
	font-color:#51519A;
	list-style: none;
	padding: 20px 0 20px 0;
	position: fixed
	top:0;
	font-size: 24px;

}

.nav li{
	display: inline-block;
	padding-right: 50px;
}

.nav li a{
	text-decoration: none;
	color: black;
}

.nav li a:hover{
	color: #5FC4FA;
}

#Janice{
	font-size: 30pt;
	color: white;
	padding-top: 300px;
}

#whyhello {
    background: white;
    color: black;
    display: inline-block;
    padding-left: 50px;
    padding-right: 50px;
    margin-right: 10px;
    cursor: pointer;
    font: 70px;
}

.bgvideo{
	position:fixed;
	right:0;
	bottom:0;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -9999;
	opacity: .8;
} 

